<article id="About">
  <div class="container">
    <div class="row-fluid">
      <div class="text-left">
        <h2>
          <a name="about-the-gateway"></a>
          <i class="glyphicons-icon leaf"></i>
          About the IoE Data Gateway
        </h2>
        <p class="lead">
          The Institute on Ecosystems (IoE) Data Gateway is an Montana University System
          data repository and discovery system designed to facilitate ecological and environmental
          research.
        </p>
        <img class="pull-right" style="height: 150px;width: 150px; margin: 10px 40px 10px 20px" alt="Data underlies metadata" src="./js/themes/ioe/img/data-metadata-graphic.png">
        <p>
          For scientists, the IoE Data Gateway is an efficient way to discover, access and
          interpret complex ecological data. Thanks to rich contextual
          information, scientists are able to integrate and analyze discovered data with
          less effort. The data originate from a highly-distributed set of
          field stations, laboratories, research sites, and individual
          researchers. The foundation of the IoE Data Gateway is rich, detailed metadata
          provided by the researchers that collect data, which promotes both
          automated and manual integration of data into new projects.
        </p>
        <p>
          The IoE Data Gateway is powered by the open-source Metacat data management system.
          It is optimized for handling data sets described using the Ecological 
          Metadata Language, but can store any XML-based document.
        </p>
      </div>
    </div>
    <br />
    <div class="row-fluid">
      <div class="text-left">
        <h2>
          <a name="using-the-gateway"></a>
          <i class="glyphicons-icon thumbs_up"></i>
          Using the IoE Data Gateway
        </h2>
          <p>
            As a long-term data archive, the IoE Data Gateway allows you to preserve your data
            for future generations of scientists. However, you can also share
            data with your colleagues today, and get a permanent
            identifier for all files in your data set. The Gateway's data repository supports <a
            href="http://www.doi.org/">Digital Object Identifiers</a> (DOIs),
            so your data sets can be confidently referenced in any publication.
            And as a <a href="http://dataone.org">DataONE</a> Member Node, the
            IoE Data Gateway will securely replicate you data to other servers, maintaining
            all of the access controls you define. This means
            that your data are secure in the unlikely event that the IoE Data Gateway server
            experiences any catastrophic failure.
          </p>
      </div>
    </div>
    <br />
    <div class="row-fluid">
      <div class="text-left">
        <h2>
          <a id="getting-started"></a>
          <i class="glyphicons-icon cogwheels"></i>
          Getting Started
        </h2>
        <h3>
          <a name="sharing-your-data"></a>
          Sharing your data
        </h3>
        <p>
          To get started, you'll need to use either the <a href="#share">Data
          Registry</a> online form, or download the <a href="#tools">Morpho</a>
          Desktop Application. Both of these tools will walk you through the
          process of creating a metadata document that describes your data.
        </p>
        <p>
          To prepare for using either of the above tools, it's good to have
          your files in order. You might want to take a look at some <a
          href="http://www.dataone.org/best-practices">best practices</a> for
          <a href="http://dx.doi.org/10.1890/0012-9623-90.2.205">managing your
          data files</a>. For a given project, perhaps you have 6 data files,
          and one document that describes the methods that you used to collect
          or analyze your data. Collect these files into a single directory,
          and name them with short but desciptive names. Try to avoid spaces in
          your file names, but rather use dashes "-" or underscores "_". While
          the IoE Data Gateway supports the upload of any data file format, sharing data can
          be greatly enhanced if you use ubiquitous, easy-to-read formats. For
          instance, while Microsoft Excel files are commonplace, it's better to
          export these spreadsheets to Comma Separated Values (CSV) text files,
          which can be read on any computer without having Microsoft products
          installed.
        </p>
        <p>
          For image files, use common formats like PNG, JPEG, TIFF, etc. Most
          all browsers can handle these. If you use specialized software to
          create your data, try to save you data in well-known formats. For
          instance, GIS data can be exported to ESRI shapefiles, and data
          created in Matlab or other matrix-based programs can be exported as
          <a href="http://www.unidata.ucar.edu/software/netcdf/">NetCDF</a> (an
          open binary format).
        </p>
        <p>
          With your data and protocol files collected, you're ready to use the
          software tools above to create metadata files in the <a href="#external//emlparser/docs/index.html">Ecological
          Metadata Language (EML)</a>. If your project involves large numbers of
          files (hundreds to thousands), you may want to automate the creation
          of your metadata. This is certainly possible, and has been done in
          programs like Matlab, R, etc. Send a note to <a
          href="mailto:metacat-dev@ecoinformatics.org">Metacat developers</a>, and we can point
          you to some examples of scripted metadata creation.
        </p>
        <h3>
          <a name="understanding-metadata"></a>
          Understanding metadata
        </h3>
        <p>
          Metadata are ultimately "data about data" - the
          contextual information needed to interpret a set of raw data
          observations. They provide meaning to data, and are critical when it
          comes to sharing, integrating, and analyzing data. Too often people
          collect data for projects and leave them undocumented for years or
          decades. These data, while potential of very high value, can become 
          useless over time due to data entropy.
        </p>
        <p>
          There are a number of resources available that help in understanding
          metadata. A notable reference book is "Ecological Data: Design,
          Management and Processing", edited by William Michner and James Brunt
          <a href="http://books.google.com/books?isbn=1444311395">(ISBN
          1-444-31139-5)</a>. This book has an excellent section on metadata,
          and the idea of data entropy over the course of a scientist's career.
          Likewise, researchers at the National Center for Ecological Analysis
          and Synthesis <a href="http://nceas.ucsb.edu">(NCEAS)</a> wrote an <a
          href="http://dx.doi.org/10.1890/0012-9623(2005)86[158:MTVOED]2.0.CO;2"
          >excellent primer</a> on understanding and using EML, entitled
          "Maximizing the value of ecological data with structured metadata: an
          introduction to Ecological Metadata Language (EML) and principles for
          metadata creation".
        </p>
        <p>
          The two resources above should help in understanding metadata, and
          making the generation of high quality metadata a part of your
          scientific workflow. For more information, contact the <a
          href="mailto:metacat-dev@ecoinformatics.org">Metacat system developers</a>
          or <a href="mailto:help@data.rcg.montana.edu">IoE staff </a>
          and we can further help you or your lab in effectively managing data and metadata.
        </p>
        <div class="row-fluid">
			<div class="text-left">
				<h3>
				 	<a name="eml"></a>
					<i class="glyphicons-icon notes"></i>
					EML - Ecological Metadata Language
				</h3>
				<p class="lead">A metadata standard developed for the earth, environmental and ecological sciences.</p>
				<p>Based on prior work done by the Ecological Society of America and associated efforts, 
				    EML is implemented as a series of XML document types that can by used in a modular and extensible manner to document scientific research data.
				</p>
				<p>	
					<a href="#external//gateway/emlspec/docs/index.html">More about EML <i class="icon-circle-arrow-right"></i></a>
				</p>

			</div>
		</div>
        <h3>
          <a name="assigning-dois"></a>
          Publishing data with a DOI
        </h3>
        <p>
          Digital Object Identifiers (DOIs) provide a long-term
          identifier for a data package that can be used to cite usage
          of the data and to provide a stable mechanism to find the
          current location(s) for the data.  Because the IoE Data Gateway creates
          replica copies of data packages via <a
          href="http://dataone.org">DataONE</a>, it is important that
          the identifier for the data set not be tied to a specific
          address on the internet, which can change over time.  DOIs
          allow an identifier to be created that can be resolved to the
          multiple locations that a data set might exist, and then
          client tools can decide which of those copies is the most
          efficient to access.
        </p>
        <p>
          To assign a DOI using the Ioe Data Gateway requires that you have the
          proper permissions on the data set.  Simply log in to the Gateway
          web interface with your username and password, and then search
          for your data package.  If you are the owner or have been
          granted management permissions, you will see a 'Publish'
          button, which both makes the data package publicly accessible
          and assigns a DOI to that particular version of the data
          package.  The DOI is registered with <a
          href="http://www.datacite.org">DataCite</a> using the <a
          href="http://ezid.cdlib.org/">EZID</a> service, and will be
          discoverable through multiple data citation networks,
          including <a href="http://dataone.org">DataONE</a> and others.
        </p>
      </div>
    </div>
    <br />
    <div class="row-fluid">
      <div class="text-left">
        <h2>
          <a name="advanced-users"></a>
          <i class="glyphicons-icon cogwheels"></i>
          Advanced Users
        </h2>
        <h3 id="api">A RESTful API for accessing and contributing data.</h3>
        <p>
                The IoE Data Gateway supports the <a
                        href="http://releases.dataone.org/online/api-documentation-v1.2/apis/index.html"
                        target="_external">DataONE REST API</a> (also see the <a
                        href="http://releases.dataone.org/online/api-documentation-v1.2/apis/index.html"
                        target="_external">dev version</a>) to provide a common web
                service interface for users and developers to access and
                contribute data and metadata to the IoE Data Gateway. This allows any software
                tool that supports the DataONE API (ONE<i>R</i> DataONE R
		client) to also be able to seamlessly interact with IoE data.
                While DataONE maintains the full technical documentation on the
                API, here is a brief overview for commonly accessed services.
        </p>
        <section id="summary">
                <h3>Summary</h3>
                <p>
                        All API access is over HTTPS, and accessed via the
                        <code>https://data.rcg.montana.edu/catalog/d1/mn/v1/</code>
                        endpoint. The relative path prefix
                        <code>/v1/</code>
                        indicates that we are currently using version 1 of the DataONE
                        API. 						    
                <blockquote><i class="glyphicons-icon warning_sign"></i>
                <p class="text-warning">The examples below show calls to the production IoE site 
                (<code>http://data.rcg.montana.edu</code>), but developers
            should not create test data on the production server.  Instead, they can use
            a test Metacat repository to explore the API 
            (e.g., <code>https://mn-demo-5.test.dataone.org/knb/d1/mn/v1/</code>).
            </p></blockquote>
                        
                </p>
                <p>DataONE distinguishes three classes of objects that it
                        will store and manage: data objects, science metadata objects,
                        and resource map documents. Each of these are uniquely
                        identifiable by their persistent identifier (PID), and each has
                        associated System Metadata that describes the object type, size,
                        access rules, etc.</p>
                <p>
                        Data objects are treated as opaque blobs, and are retrievable
                        via the get method given a persistent identifier (PID). Science
                        metadata objects are metadata documents such as EML, FGDC,
                        ISO19115 and so forth that provide metadata describing some data
                        object(s). These are represented in XML according to their
                        respective schema. Resource Maps are OAI-ORE documents that
                        describe the aggregations of data and metadata into
                        <code>data packages</code>
                        .
                </p>
                <br />
                <h4>Quick Reference</h4>
                <table class="endpoints">
                        <tbody>
                                <tr>
                                        <th style="width:150px">URL</th>
                                        <th style="width:100px">Method</th>
                                        <th>Example</th>
                                </tr>
                                <tr>
                                        <td><code>/object</code></td>
                                        <td>GET</td>
                                        <td><a href="#listObjects">List Objects</a></td>
                                </tr>
                                <tr>
                                        <td><code>/object/&lt;pid&gt;</code></td>
                                        <td>GET</td>
                                        <td><a href="#get">Get an Object</a></td>
                                </tr>
                                <tr>
                                        <td><code>/object</code></td>
                                        <td>POST</td>
                                        <td><a href="#create">Create an Object</a></td>
                                </tr>
                                <tr>
                                        <td><code>/object/&lt;pid&gt;</code></td>
                                        <td>PUT</td>
                                        <td><a href="#update">Update an Object</a></td>
                                </tr>
                                <tr>
                                        <td><code>/object/&lt;pid&gt;</code></td>
                                        <td>DELETE</td>
                                        <td><a href="#delete">Delete an Object</a></td>
                                </tr>
                                <tr>
                                        <td><code>/archive/&lt;pid&gt;</code></td>
                                        <td>PUT</td>
                                        <td><a href="#archive">Archive an Object</a></td>
                                </tr>
                                <tr>
                                        <td><code>/meta/&lt;pid&gt;</code></td>
                                        <td>GET</td>
                                        <td><a href="#getSystemMetadata">Get System Metadata for an Object</a></td>
                                </tr>
                                <tr>
                                        <td><code>/generate</code></td>
                                        <td>POST</td>
                                        <td><a href="#generate">Generate an Identifier</a></td>
                                </tr>
                        </tbody>
                </table>
        </section>
        <br />
        <section id="Calling Services">
                <h4 id="requestFormat">Request Format</h4>
                <ul>
                        <li>GET, HEAD, and DELETE requests only pass parameters as
                                part of the URL. The parameter values are converted to UTF-8
                                Strings and appropriately escaped for incorporating into the
                                URL.</li>
                        <li>Message bodies (e.g. for POST and PUT requests) are
                                encoded using MIME Multipart, mixed (RFC2046). All information
                                for creating the new object or resource is transmitted in the
                                message body, which is encoded as a MIME multipart/mixed
                                message. We use two types of content in MIME multipart/mixed
                                messages: parameters and files. Parameters are to be used for
                                all simple types (such as a String value). Files are to be used
                                for all complex types (such as an XML structure) and for octet
                                streams.</li>
                </ul>
                <br />
                <h4 id="responseFormat">Response Format</h4>
                <p>Version 1.0 of the DataONE services only support XML serialization, and 
                this format MUST be used when communicating with the IoE Data Gateway.
                Request and response documents MUST also be encoded using UTF-8.</p>
                <br />
                <h4 id="auth">Authentication and Authorization</h4>
                <p>Authentication is handled using SSL with client-side certificates 
                (in X.509 format).  Users can 
                <a href="https://cilogon.org/?skin=DataONE" target="_external">log into CILogon</a> 
                to download a certificate, 
                which can then be included in requests.  The Subject of the provided certificate
                will be used by the IoE Data Gateway to determine all access control decisions for accessing,
                creating, updating, archiving, and deleting objects.  If a client-side certificate
                is not provided, the user will be considered an anonymous <code>public</code> user
                and will only be able to access public content.   
                </p>
                <p>Each language or submission tool will have different mechanisms for setting the 
                client certificate in the SSL session.  For example, for Curl the certificate filename 
                is passed in on the commandline: <code>curl -X POST --cert /tmp/x509up_u502 ...</code>.
                </p>
        </section>
        <br />
        <section id="examples">
            
                <h4 id="listObjects">List Objects</h4>
                <div class="code_example"><code>
curl -X GET -H "Accept: text/xml" "http://data.rcg.montana.edu/catalog/d1/mn/v1/object?start=0&amp;count=100"
                </code></div>
                <br />
                <h4 id="get">Get an Object</h4>
                <div class="code_example"><code>
curl -X GET \
-H "Accept: text/xml" \
"http://data.rcg.montana.edu/catalog/d1/mn/v1/object/doi:10.5063/F1HT2M7Q"
                </code></div>
                <br />
                <h4 id="create">Create an Object</h4>
                <div class="code_example"><code>
curl -X POST \
--cert /tmp/x509up_u501 \
-H "Charset: utf-8" \
-H "Content-Type: multipart/mixed; boundary=----------4A2D135C-52CC-017FC-B269-B711ED211576_$" \
-H "Accept: text/xml" \
-F pid=urn:uuid:56eafcec-8b0a-11e3-a5e8-00334b2a1a0a \
-F object=@mydatafile.csv \
-F sysmeta=@mysystemmetadata.xml \
"http://data.rcg.montana.edu/catalog/d1/mn/v1/object"
                </code></div>
                <br />
                <h4 id="update">Update an Object</h4>
                <div class="code_example"><code>
curl -X PUT \
--cert /tmp/x509up_u501 \
-H "Charset: utf-8" \
-H "Content-Type: multipart/mixed; boundary=----------4A2D135C-52CC-017FC-B269-B711ED211576_$" \
-H "Accept: text/xml" \
-F newPid=urn:uuid:21865616-8b0d-11e3-a31f-00334b2a1a0a \
-F object=@mydatafile.csv \
-F sysmeta=@mysystemmetadata.xml \
"http://data.rcg.montana.edu/catalog/d1/mn/v1/object/urn:uuid:56eafcec-8b0a-11e3-a5e8-00334b2a1a0a"
                </code></div>
                <br />
                <h4 id="delete">Delete an Object</h4>
                <div class="code_example"><code>
curl -X DELETE \
--cert /tmp/x509up_u501 \
-H "Accept: text/xml" \
"http://data.rcg.montana.edu/catalog/d1/mn/v1/object/urn:uuid:56eafcec-8b0a-11e3-a5e8-00334b2a1a0a"
                </code></div>
                <br />
                <h4 id="archive">Archive an Object</h4>
                <div class="code_example"><code>
curl -X PUT \
--cert /tmp/x509up_u501 \
-H "Accept: text/xml" \
"http://data.rcg.montana.edu/catalog/d1/mn/v1/archive/urn:uuid:56eafcec-8b0a-11e3-a5e8-00334b2a1a0a"
                </code></div>
                <br />
                <h4 id="getSystemMetadata">Get System Metadata for an Object</h4>
                <div class="code_example"><code>
curl -X GET \
-H "Accept: text/xml" \
"http://data.rcg.montana.edu/catalog/d1/mn/v1/meta/urn:uuid:56eafcec-8b0a-11e3-a5e8-00334b2a1a0a"
                </code></div>
                <br />
                <h4 id="archive">Generate an identifier</h4>
                <div class="code_example"><code>
curl -X POST \
--cert /tmp/x509up_u501 \
-H "Accept: text/xml" \
-F scheme=UUID \
"http://data.rcg.montana.edu/catalog/d1/mn/v1/generate"
                </code></div>
        </section>
        <br />
        <div class="row-fluid">
            <h3 id="clientLibraries">Client Libraries</h3>
            <div class="text-left">
                <p> <i class="halflings-icon wrench"></i>  DataONE <a href="http://mule1.dataone.org/OperationDocs/DataONE-Java-Client-Library-HowTo.html">Java Client Library</a></p>
                <p> <i class="halflings-icon wrench"></i>  DataONE <a href="https://pypi.python.org/pypi/dataone.libclient">Python Client Library</a></p>
                <p> <i class="halflings-icon wrench"></i>  DataONE <a href="http://releases.dataone.org/online/dataone_r/">R Client Library</a></p>
            </div>
        </div>
      </div>
    </div>
    <br />
    <div class="row-fluid">
      <div class="text-left">
        <h2>
          <a name="licensing-and-distribution"></a>
          <i class="glyphicons-icon briefcase"></i>
          Licensing and Data Distribution
        </h2>
        <p>
          As a tool dedicated to helping researchers
          increase collaboration and the pace of science, this repository
          needs certain rights to copy, store, and redistribute data.<a
          href="http://www.bitlaw.com/copyright/database.html"> Data
          and facts themselves are not covered under copyright</a>
          in the US and most countries, since facts in and of
          themselves are not eligible for copyright. However,
          some associated metadata and some particular compilations
          of data may be covered by copyright in some jurisdictions.
        </p><p>
          By uploading data or metadata, you warrant that you
          hold the copyright to the material and grant permission for posting
          it to this repository, or have the approval of the copyright
          holder to do so, and agree that it may be made available to the
          public in any format in perpetuity. You warrant that the posting of
          the work does not infringe any copyright, nor violate any proprietary
          rights, nor contain any libelous matter, nor invade the privacy of
          any person or third party, nor otherwise violate Montana State University
          or University of Montana licensing and distribution policies.
        </p><p>
          By uploading content, you grant this repository and Montana
          Institute on Ecosystems all rights needed to copy, store,
          redistribute, and share data, metadata, and any other
          content under the access control rules that you specify.You agree
          that the Montana Institute on Ecosystems may translate the
          submission to any medium or format for the purpose of preservation.
          Also, you agree that Montana Institute on Ecosystems may keep more
          than one copy of this submission for purposes of security, back-up,
          and preservation. 
        </p><p>
          By marking content as publicly available, you grant this 
          repository, the Montana Institute on Ecosystems, and any other
          users the right to copy the content and redistribute it to the
          public without restriction under the terms of <a
          href="http://creativecommons.org/licenses/by/4.0/ target="_blank">
          CC-BY</a>. Montana Institute on Ecosystems will not make any
          alteration, other than as allowed by this license, to your submission.
        </p>
      </div>
    </div>
   </div>
  </div>
</article>
