<header id="altHeader" class="row">
	<section id="Slides" class="carousel slide">
	  <div class="carousel-inner">
	    <div class="active item">
	      <img src="./js/themes/ioe/img/slide_01.jpg" alt="" />
	      <div class="container">
	        <div class="carousel-caption center">
	          <h1>IoE Data Gateway.</h1>
	          <p class="lead">Increasing the power and reach of reserach conducted in Montana.</p>
                  <!--<button class="btn btn-primary"><a href=#signup"">Sign up</a></button>-->
	        </div>
              </div>
	    </div>
	    <div class="item">
	      <img src="./js/themes/ioe/img/slide_02.jpg" alt="" />
	      <div class="container">
	      </div>
	    </div>
            <div class="item">
	      <img src="./js/themes/ioe/img/slide_03.jpg" alt="" />
	      <div class="container">
	        <div class="carousel-caption center">
	          <h1>Find and repurpose.</h1>
	          <p class="lead">Drive your next meta analysis with data and partners through the IoE Data Gateway.</p>
                  <!--<button class="btn btn-primary"><a href=#signup"">Sign up</a></button>-->
	        </div>
	      </div>
	    </div>
            <div class="item">
	      <img src="./js/themes/ioe/img/slide_04.jpg" alt="" />
	      <div class="container">
	      </div>
	    </div>
	    <div class="item">
	      <img src="./js/themes/ioe/img/slide_05.jpg" alt="" />
	      <div class="container">
	        <div class="carousel-caption center">
	          <h1>Integrate Tools.</h1>
	          <p class="lead">Access and manage your data with powerful, open-source software.</p>
                  <!--<button class="btn btn-primary"><a href="#tools/metacat">Download tools</a></button>-->
	        </div>
	      </div>
	    </div>
            <div class="item">
	      <img src="./js/themes/ioe/img/slide_06.jpg" alt="" />
	      <div class="container">
	      </div>
	    </div>
            <div class="item">
	      <img src="./js/themes/ioe/img/slide_07.jpg" alt="" />
	      <div class="container">
                <div class="carousel-caption center">
	          <h1>Store, share, and collaborate.</h1>
	          <p class="lead">Team up with other researchers by sharing research data through the IoE Data Gateway.</p>
                  <!--<button class="btn btn-primary"><a href="#signup">Sign up</a></button>-->
	        </div>
	      </div>
	    </div>
            <div class="item">
	      <img src="./js/themes/ioe/img/slide_08.jpg" alt="" />
	      <div class="container">
	      </div>
	    </div>
	  </div>     
	  <a class="left carousel-control" href="#Slides" data-slide="prev"><i class="icon-chevron-left"></i></a>
	  <a class="right carousel-control" href="#Slides" data-slide="next"><i class="icon-chevron-right"></i></a>
	</section>
</header>
