<!-- This default is exactly what should be returned from the registry script -->
<!-- customize in your them as needed to point to the correct identity management system -->
<div id="ldapAccountTools" class="row-fluid">
    <div class="text-left">
        <h2>
          <a name="licensing-and-distribution"></a>
          <i class="glyphicons-icon briefcase"></i>
          Licensing and Data Distribution
        </h2>
        <p>
          As a tool dedicated to helping researchers
          increase collaboration and the pace of science, this repository
          needs certain rights to copy, store, and redistribute data.
          By uploading data, metadata, and any other content to
          this repository, you warrant that you have the rights to
          the content and are authorized to do so under copyright
          or any other right that might pertain to the content.
          <a
          href="http://www.bitlaw.com/copyright/database.html">Data
          and facts themselves are not covered under copyright</a>
          in the US and most countries, since facts in and of
          themselves are not eligible for copyright. However,
          some associated metadata and some particular compilations
          of data may be covered by copyright in
          some jurisdictions. By uploading content, you
          grant this repository and Montana University System
          (MUS) all rights needed to copy, store,
          redistribute, and share data, metadata, and any other
          content under the access control rules that you specify.
          By marking content as publicly available, you grant this 
          repository, MUS, and any other users the right to copy the
          content and redistribute it to the public without restriction
          under the terms of <a href="http://creativecommons.org/licenses/by/4.0/ target="_blank">CC-BY</a>.
        </p>
    </div>
</div>