<!-- This default is exactly what should be returned from the registry script -->
<!-- customize in your them as needed to point to the correct identity management system -->
<div id="ldapAccountTools" class="row-fluid">
    <div class="text-left">
        <h2>
          <a name="licensing-and-distribution"></a>
          <i class="glyphicons-icon briefcase"></i>
          Licensing & Distribution
        </h2>
        <p>
          As a tool dedicated to helping researchers
          increase collaboration and the pace of science, this repository
          needs certain rights to copy, store, and redistribute data.<a
          href="http://www.bitlaw.com/copyright/database.html"> Data
          and facts themselves are not covered under copyright</a>
          in the US and most countries, since facts in and of
          themselves are not eligible for copyright. However,
          some associated metadata and some particular compilations
          of data may be covered by copyright in some jurisdictions.
        </p><p>
          By uploading data or metadata, you warrant that you
          hold the copyright to the material and grant permission for posting
          it to this repository, or have the approval of the copyright
          holder to do so, and agree that it may be made available to the
          public in any format in perpetuity. You warrant that the posting of
          the work does not infringe any copyright, nor violate any proprietary
          rights, nor contain any libelous matter, nor invade the privacy of
          any person or third party, nor otherwise violate Montana State University
          or University of Montana licensing and distribution policies.
        </p><p>
          By uploading content, you grant this repository and Montana
          Institute on Ecosystems all rights needed to copy, store,
          redistribute, and share data, metadata, and any other
          content under the access control rules that you specify.You agree
          that the Montana Institute on Ecosystems may translate the
          submission to any medium or format for the purpose of preservation.
          Also, you agree that Montana Institute on Ecosystems may keep more
          than one copy of this submission for purposes of security, back-up,
          and preservation. 
        </p><p>
          By marking content as publicly available, you grant this 
          repository, the Montana Institute on Ecosystems, and any other
          users the right to copy the content and redistribute it to the
          public without restriction under the terms of <a
          href="http://creativecommons.org/licenses/by/4.0/ target="_blank">
          CC-BY</a>. Montana Institute on Ecosystems will not make any
          alteration, other than as allowed by this license, to your submission.
        </p>
    </div>
</div>



          