<div class="container">
    <div class="intro">
     <h2>Empowering Montana's Researchers</h2>
        <p>
          The IoE Data Gateway simplifies the task of discovering
          work produced by others and makes it easy to archive, publish and share
          your own research findings with peers or the international scientific
          community. Leverage the IoE Data Getway to increase the impact
          of your research.
        </p>
    </div>
    <img class="featurette pull-right" src="./js/themes/ioe/img/portal_logo.png"/>
</div>
<div class="logo-bar">
    <div class="container pagination-centered">
        <img class="logo-thumbnail" alt="IoE" src="./js/themes/ioe/img/ioe_logo.png"/>
        <img class="logo-thumbnail" alt="MUS" src="./js/themes/ioe/img/mus-logo.png"/>
        <img class="logo-thumbnail" alt="MTEPSCoR" src="./js/themes/ioe/img/mtepscor_logo.png"/>
        <img class="logo-thumbnail" alt="DataONE" src="./js/themes/ioe/img/dataone-logo-white.png"/>
    </div>
</div>
<div class="container">
    <div class="featurette">
      <img class="pull-left" src="./js/themes/ioe/img/data-archive.png"/>
      <h2>Archive environmental data.</h2>
      <p>
        Store environmental and ecological
        data sets using the IoE Data Gateway. Meet grant agency
        requirements for long-term data preservation. Archived data
        is mirrored on mulitple servers at Montana State University
        and securely copied across the DataONE
        cyberinfrastructure network.
      </p>
      <a href="#about" class="btn btn-info">Learn more</a>
      
    </div>
  </div>
</div>
<br>
<br>
<br>
<div class="container">
    <div class="featurette">
    <img class="pull-right" src="./js/themes/ioe/img/data-publish.png"/>
      <h2>
      Publish and share with confidence.</h2>
      <p>
        Easily upload data to the IoE Data Gateway online, or
        use customized desktop software or clinet libraries
        built in Python, Java, and R to describe, manage, and share your data.
        Use DOI tagging to permanently publish and recieve credit for your data sets.
      </p>
      <a href="#share" class="btn btn-info">Share your data</a>
      
    </div>
  </div>
</div>
<br>
<br>
<br>
<div class="container">
    <div class="featurette">
    <img class="pull-left" src="./js/themes/ioe/img/data-search.png"/>
      <h2>
        Execute powerful searches.</h2>
      <p>
        Quickly search archived research collections to
        locate data for your next research effort or connect with potential
        collaborators. Look for data stored in the IoE Data Gateway
        and other DataONE member node repositories based on keyword, taxon,
        location, date of publication, or author.
      </p>
      <a href="#data" class="btn btn-info">Search for data</a>
    </div>
  </div>
</div>
<br>
<br>
<br>