<div class="container">
	<h1 class="container">Find Data</h1>
	<div class="center span12">
		<input type="text" id="search_txt_main" placeholder="Example: invasive species" class="span10">
		<a href="#data" type="button" class="btn span1" id="search_btn_main"><i class="icon-search icon-large"></i></a>
	</div>
</div>
<br />
<br />
<div class="container" style="position:absolute; bottom:0; left:0;background-color:#ccc; padding-bottom:35px;">
  <div class="row-fluid">
    <div class="span4 pagination-centered" style="padding:10px;">
      <img src="./js/themes/knb/img/cloud-gray-blue.png">
      <h4>Archive environmental data.</h4>
      <p>
        Montana reserachers store environmental and ecological
        data sets in the IoE Data Repository. Data stored in the
        IoE Repository is securely copied across DataONE
        cyberinfrastructure network for long term preservation.
      </p>
      <a href="#about" class="btn btn-info">Learn more</a>
    </div>
    <div class="span4 pagination-centered" style="padding:10px;">            
      <img src="./js/themes/knb/img/circles-up-down-arrows.png">
      <h4 >Publish and share with confidence.</h4>
      <p>
        Easily upload data to the IoE Data Repository online, or
        use desktop software to describe, manage, and share your data.
        The IoE Repository supports DOI tagging to
        permanently publish and recieve credit for your data sets.
      </p>
      <a href="#share" class="btn btn-info">Share your data</a>
    </div>
    <div class="span4 pagination-centered" style="padding:10px;">
      <img src="./js/themes/knb/img/square-mag-glass.png">
      <h4>Execute powerful searches.</h4>
      <p>
        Quickly search archived research collections to
        locate data for your next research effort. Connect with potential
        collaborators. Look for data based on interest, keyword
        place, time, or people.
      </p>
      <a href="#data" class="btn btn-info">Search for data</a>
    </div>
  </div>
</div>