<div class="container">
  <div class="row-fluid">
    <img src="./js/themes/ioe/img/ioe_logo.png">
      <h4>Welcome to the Montana University System's IoE Data Repository</h4>
      <p>
        Lorem ipsum dolor sit amet, consectetur adipiscing elit.
        Nam vitae malesuada ipsum. Mauris malesuada neque eu nisi
        consequat, ut vulputate odio posuere. Proin tempus lacus
        ac congue ullamcorper. Aliquam quis massa odio. Nulla at 
        mi sed sapien iaculis mattis. Nullam eu lectus et purus
        porttitor pellentesque non et massa. In iaculis lobortis
        velit ut varius. Morbi rhoncus non diam vitae venenatis. 
      </p>
      <p>
        Lorem ipsum dolor sit amet, consectetur adipiscing elit.
        Nam vitae malesuada ipsum. Mauris malesuada neque eu nisi
        consequat, ut vulputate odio posuere. Proin tempus lacus
        ac congue ullamcorper. Aliquam quis massa odio. Nulla at 
        mi sed sapien iaculis mattis. Nullam eu lectus et purus
        porttitor pellentesque non et massa. In iaculis lobortis
        velit ut varius. Morbi rhoncus non diam vitae venenatis. 
      </p>
  </div>
</div>
<hr>
<div class="container">
  <div class="row-fluid">
    <div class="span4 pagination-centered">
      <img src="./js/themes/ioe/img/cloud-gray-blue.png">
      <h4>Archive environmental data.</h4>
      <p>
        Montana reserachers store environmental and ecological
        data sets in the IoE Data Repository. Data stored in the
        IoE Repository is securely copied across the DataONE
        cyberinfrastructure network for long term preservation.
      </p>
      <a href="#about" class="btn btn-info">Learn more</a>
    </div>
    
    <div class="span4 pagination-centered">            
      <img src="./js/themes/ioe/img/circles-up-down-arrows.png">
      <h4 >Publish and share with confidence.</h4>
      <p>
        Easily upload data to the IoE Data Repository online, or
        use desktop software to describe, manage, and share your data.
        The IoE Repository supports DOI tagging to
        permanently publish and recieve credit for your data sets.
      </p>
      <a href="#share" class="btn btn-info">Share your data</a>
    </div>
    
    <div class="span4 pagination-centered">
      <img src="./js/themes/ioe/img/square-mag-glass.png">
      <h4>Execute powerful searches.</h4>
      <p>
        Quickly search archived research collections to
        locate data for your next research effort. Connect with potential
        collaborators. Look for data based on interest, keyword
        place, time, or people.
      </p>
      <a href="#data" class="btn btn-info">Search for data</a>
    </div>
  </div>
</div>