<div class="container center">
  <div id="FooterHeading" class="row-fluid center">
    <h3 class="heading"><span>The</span> Institute on Ecosystems <span>Data Repository</span></h3>
    <h4 class="subheading"><span>IoE</span></h4>
  </div>
</div>

<div class="container">
  <div class="row-fluid">
    <div class="span2">
      <h2><i class="icon-cogs"></i>Getting Started</h2>
      <ul class="helpitems">
        <li><a href="#about/sharing-your-data" >Sharing Your Data</a></li>
        <li><a href="#about/understanding-metadata" >What's Metadata?</a></li>
        <li><a href="http://www.dataone.org/investigator-toolkit">DataONE Toolkit</a></li>
        <li><a href="#tools/morpho" >Morpho User Guide</a></li>
        <li><a href="http://www.esajournals.org/doi/abs/10.1890/0012-9623%282005%2986%5B158%3AMTVOED%5D2.0.CO%3B2" >EML Explained</a></li>
        <li><a href="http://mule1.dataone.org/ArchitectureDocs-current" target="_blank">DataONE API</a></li>
      </ul>
    </div>
    
    <div class="span4 pagination-centered logo mus">
        <a href="" target="_blank"><img alt="MUS" src="./js/themes/ioe/img/mus-logo.png"></a>
    </div>
    <div class="span4 pagination-centered logo mtepscor">
        <a href="" target="_blank"><img alt="MTEPSCoR" src="./js/themes/ioe/img/mtepscor_logo.png"></a>
    </div>


    <div class="span2">
    	<h2><i class="icon-envelope-alt"></i>Contact Info</h2>
      	<ul class="helpitems">
        	<li><a href="help@data.montana.edu">help@data.montana.edu</a></li>
        	<li>Montana IoE</li>
        	<li>MSU Office</li>
                <li>106 AJM Johnson Hall</li>
                <li>Bozeman, MT 59717</li>
                <li>(406) 994-2374</li>
      	</ul>
    </div>
    
  </div>
  <div class="row-fluid center">
  	<div class="span12 acknowledgements">
  	    <p class="pagination-centered disclaimer">Montana University System Disclamer Placeholder</p>
  	</div>
  </div>
</div>